body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
/* reference : w3shcools.com/howto */
.topnav {
    overflow: hidden;
}
/* style the links inside of the topnav */
.topnav a{
    float: left;
    color: #454446;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 17px;
}
/* hover: change the color when mouse sits */
.topnav a:hover {
    background-color: #454446;
    color: white;
}

  .column {
    float: left;
    width: 25%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #269c96;
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    background-color: rgb(73, 71, 71);
    text-align: center;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
